.insights table,th,td {
    font-size: 0.5em;
}
.insights th {
    font-size: 10px !important;
}
.insights td {
    max-width: 300px;
}

.apistatistics .card-text p {
    font-size: 0.7em !important;
    margin-bottom: 0.2em;
}

.apistatistics .alert-success,
.alert-danger,
.alert-warning {
    font-size: 0.6em !important;
}

.table .thead-dark th {
font-size: 0.6rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.card-title{
    margin-bottom: 2px;
}
.card-body{
    padding: 0.8rem;
}
h6.card-title{
    font-size:0.8rem;
}
small.notes{
    font-size: 9px;
    float: right;
    margin-top: -20px;
}
.alert {
    padding: 0.25rem 0.25rem;
}