body {
    background-color: #fff;
    font-size: 12px;
}

.thead-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
    font-weight: 500;
}

.container {
    width: 100% !important;
    margin-top: 20px;
}

.header {
    margin-top: 5px;
    margin-bottom: 6px;
    font-weight: bold;
}

.alert {
    margin-bottom: 3px;
    padding: 5px;
}

.logText {
    margin: 0px;
}

.row {
    margin-left: initial;
    margin-right: initial;
}