body{
    background-color: #fff;
}

.container{
width: 100% !important;
}

.alert{
    margin-bottom:5px;
    padding:5px;
}

.logText{
    margin:0px;
}


.row{
    margin-left:initial;
    margin-right:initial;
}